@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@media screen and (min-width: 669px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding: 10em;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
  }


  body {
    width: 1280px;
    max-width: 1480px;
    height: 100vh;
    background: #FBFDFF;
    transition: opacity .5s ease-in-out;
    animation: fade .5s ease-in-out;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

  }

  .toggle.bg {
    background: #171717;
  }

  @media screen and (min-width: 1024px) {
    body {
      width: 1480px;
    }
  }
  #header{
    display: none;
  }
  nav {
    width: 100%;
    background: #F9FDFF;
    padding: 2.5em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: -0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 5px 5px;
    z-index: 6666;
  }
  nav h2 {
    font-size: 3.2em;
    margin-right: 0 auto;
    color: #000;
    padding-right: 1em;
    margin-left: 1em;
    transition: .3s ease-in-out;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 1.3em;
    font-size: 2.2em;
  }

  nav ul li {
    display: inline-block;
    font-weight: 500;
  }

  nav ul a {
    color: #000000;
  }

  nav ul li a {
    position: relative;
  }

  nav ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #3881FF;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    transform: scaleX(0);
    top: 50px;
    transition: 1s ease;
  }

  nav ul li a:hover::after {
    transform: scaleX(1);
  }

  nav .input-area input {
    height: 60px;
    font-size: 2em;
    width: 85%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 20px 25px;

  }

  nav .input-area input::placeholder {
    color: rgba(0, 0, 0, 0.7);

  }

  .input-area span img {
    height: 40px;
  }

  .transition {
    transition: .4s ease-in-out;
  }


  nav .mood img {
    height: 46px;
  }

  nav .input-area {
    height: 65px;
    width: 450px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
  }

  nav .input-area span {
    height: 60px;
    width: 100px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;

  }

  nav .input-area span:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  nav .mood {
    margin-left: 20px;
  }

  .hover:hover {
    transform: scale(0.9);
    opacity: 0.8;
  }

  .active {
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
    transition: all .1s ease-in-out;
  }

  /*
  @media screen and (max-width: 768px) {

    body,
    header {
      width: 100%;
      margin: 0 auto;
      overflow-x: hidden;
    }

    nav {
      padding: 1em;
    }

    nav h2 {
      font-size: 2.5em;
    }

    nav ul {
      display: none;
    }

    nav .input-area {
      display: none;
    }

    img {
      display: none;
    }
  }
*/
  .home-section {
    position: relative;
    top: 15%;
    padding: 2em;
    margin-left: 2em;
    display: none;
  }

  .home-section .details,
  .our-page,
  .our-goals {
    margin-left: 10px;
  }

  .home-section>p {
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-left: 20px;

  }

  .home-section img {
    height: 500px;
    border-radius: 20px 60px;
    margin-left: 15px;
    pointer-events: none;
  }

  .home-section .details {
    margin-top: 2em;

  }

  .home-section .details p {
    font-size: 3em;
    margin-left: 10px;
  }

  .home-section .details h2 {
    font-size: 5.5em;
    color: #131313;
    margin-left: 10px;
  }

  .home-section .details span {
    color: #3881FF;
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .home-section .details h4 {
    font-size: 4em;
    color: #282828;
    font-family: "Comfortaa", sans-serif;
    font-weight: 699;
    margin-left: 5px;
  }

  .home-section #location {
    margin: 15px 0 0 -6px;
  }

  .home-section .our-page {
    margin-top: 2.5em;
  }

  .home-section .our-page p {
    font-size: 3.2em;
    font-weight: 509;
  }

  .home-section .our-page ul li {
    list-style-type: "• ";
    margin-left: 1.6em;
    font-size: 1.1em;
  }

  .home-section .our-page .list {
    font-size: 2.4em;
  }

  .home-section .our-goals {
    margin-top: 3em;
  }

  .home-section .title {
    font-size: 3em;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
  }

  .home-section .our-goals h3 {
    font-size: 4.2em;
    margin: 1em 4em .5em 0;
    font-family: 'Nunito', 'Poppins';
  }

  .home-section .title img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }

  .home-section .title .instagram {
    background: #F09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    background-color: #405de6;
    transition: .4s ease-in-out;
  }

  .home-section .title .code {
    background: linear-gradient(to top left, #9767FF, rgba(69, 145, 255, 1));
  }

  .home-section .title .telegram {
    background: #2AABEE;
    transition: .4s ease-in-out;
  }

  .home-section .title .user {
    background-image: linear-gradient(120deg, #A7F7FF 0%, #469DFF 100%);
  }

  .home-section .title .instagram:hover,
  .telegram:hover {
    transform: scale(0.95);
    opacity: 0.8;
  }

  footer {
    margin: 25em 18em;
    display: none;
  }

  footer img {
    height: 700px;
    pointer-events: none;
  }

  /*
  .preloader {
    height: 135vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #7CA9FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }

    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }

    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }

    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  */

  .loader-code {
    height: 135vh;
    width: 100%;
    background: #F6FBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
  }

  .loader {
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 3em;
    opacity: 0.8;
  }

  .loader:before {
    content: "{";
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }

  .loader:after {
    content: "}";
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  /*======== Projects Section ==========*/

  #projects,
  #services {
    padding: 3em;
    position: relative;
    top: 15%;
  }

  #projects #img {
    height: 900px;
    margin: 6em 0 0 12em;
    display: none;
    mix-blend-mode: multiply;
  }

  #projects h2 {
    font-size: 5em;
    text-align: center;
    color: #332;
    font-family: 'Comfortaa';
    font-family: "Poppins";
  }

  #projects #text {
    font-size: 2em;
    width: 80%;
    margin-top: 12px;
    text-align: center;
    padding-bottom: 3em;
    margin-left: 4.7em;
  }

  .projects {
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4em 2em;
  }

  #projects .source {
    height: 505px;
    width: 470px;
    border: 1px solid #2B7EFF;
    border-radius: 30px;
    background: #F6F9FF;
    /*box-shadow: inset 5px 5px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  }

  #projects .source .box {
    height: 250px;
    width: 100%;
    border-radius: 30px 30px 5px 5px;
    margin-bottom: 2em;
  }

  .source .title,
  .description,
  .sub-description,
  .links {
    margin-left: 1em;
  }

  .description,
  .sub-description,
  .links {
    margin-left: 2em;
  }

  .source .title {
    font-size: 2.3em;
    color: #505050;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 15px;
    position: relative;
  }

  .source .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 3px;
    width: 200px;
    background: #555;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
  }

  .source .title::after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -22px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #222;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
  }


  .source .description {
    margin-top: 2em;
    margin-left: 1.3em;
    font-size: 1.7em;
    font-family: 'Comfortaa';
    font-family: 'Manrope';
    font-weight: 709;
  }

  .source .sub-description {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 1.6em;
  }

  .source .links {
    font-size: 1.4em;
    margin-top: 16px;
    margin-left: -1em;
    display: flex;
    justify-content: space-evenly;
  }

  .source .links a {
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }

  #services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #services .container h2 {
    font-size: 4.6em;
    width: 100%;
    text-align: center;
  }

  #services .container #details {
    font-size: 1.6em;
    width: 94%;
    margin-top: 12px;
    text-align: center;
  }


  #services .container .styles,
  #projects .styles {
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3em;
  }

  #projects hr {
    margin-top: 10rem;
  }

  #services .container .style,
  #projects .style {
    height: 4px;
    width: 200px;
    margin-top: 10em;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
  }


  #services .container .styles span,
  #projects .styles span {
    font-size: 4em;
    position: absolute;
    top: 1.6em;
    color: transparent;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;

  }

  .btn button {
    height: 70px;
    width: 240px;
    border: 0;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    color: #fff;
    border-radius: 40px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1), inset -3px -3px 2px rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: 500;
    transition: .2s ease-in-out;
  }

  .btn button:active {
    transform: translateY(3px);
    box-shadow: none;
    opacity: 0.8;
  }


  #card {
    margin-top: 8em;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    width: 100%;
    padding: 3em 1em 1em 1em;
    text-align: center;
  }

  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #0f6bff 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    border-radius: 15px 105px 5px 5px;
    box-shadow: 2px 5px 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    position: relative;
    transition: 0.5s;
  }


  .card::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
  }


  h3 {
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #1f194c;
  }

  .card p {
    color: #575a7b;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 100%;
    text-align: center;
  }

  .icon-wrapper {
    background-color: #2c7bfe;
    background: linear-gradient(to bottom right, #30EAFF, #0f6bff);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-top: 2em;
    transition: 0.5s;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card button {
    position: relative;
    font-size: 19px;
    background: transparent;
    padding: 10px 25px;
    margin-left: 20px;
    border: none;
    overflow: hidden;
    color: #000;
    border-radius: 5px;
    margin: 2em .5em 1em .5em;
    -webkit-border-radius: 8px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 0px #F8FBFF, -5px -5px 0px #F8FAFF;
    box-shadow: 5px 5px 0px #F7F7F7, -5px -5px 0px #F7F7F7;
    transition: .3s ease-in-out;
  }

  .card button:hover {
    transform: translateY(3px);
    background: #F3F3F3;
  }

  @media screen and (min-width: 768px) {
    #card {
      padding: 0 2em;
    }

    .column {
      flex: 0 50%;
      max-width: 60%;
    }
  }

  @media screen and (min-width: 992px) {
    #card {
      padding: 1em 3em;
    }

    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }

  .note {
    font-size: 2em;
    margin-top: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFDCDC;
    padding: 8px 25px;
    border-radius: 3px;

  }


  .line {
    margin-top: 6em;
    height: 0.4px;
    width: 100%;
    background: #555;
  }

  .projects .source {
    transition: .4s ease-in-out;
  }

  .projects .source:hover {
    transform: translateY(-10px);
  }


  .projects .source .box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects .source:first-child .box {
    background: url('./assets/images/projects-images/projects1.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(2) .box {
    background: url('./assets/images/projects-images/projects2.jpg') center no-repeat;
    background-size: 140%;
  }

  .projects .source:nth-child(3) .box {
    background: url('./assets/images/projects-images/projects3.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(4) .box {
    background: url('./assets/images/projects-images/projects4.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(5) .box {
    background: url('./assets/images/projects-images/projects5.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(6) .box {
    background: url('./assets/images/projects-images/projects6.jpg') no-repeat;
    background-size: cover;
  }


  .projects .source:nth-child(7) .box {
    background: url('./assets/images/projects-images/projects7.jpg') center no-repeat;
    background-size: cover;
  }


  .projects .source:nth-child(8) .box {
    background: url('./assets/images/projects-images/projects8.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(9) .box {
    background: url('./assets/images/projects-images/projects9.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(10) .box {
    background: url('./assets/images/projects-images/projects10.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(11) .box {
    background: url('./assets/images/projects-images/projects11.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(12) .box {
    background: url('./assets/images/projects-images/projects12.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(13) .box {
    background: url('./assets/images/projects-images/projects13.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(14) .box {
    background: url('./assets/images/projects-images/projects14.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(15) .box {
    background: url('./assets/images/projects-images/projects15.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(16) .box {
    background: url('./assets/images/projects-images/projects16.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(17) .box {
    background: url('./assets/images/projects-images/projects17.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(18) .box {
    background: url('./assets/images/projects-images/projects18.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(19) .box {
    background: url('./assets/images/projects-images/projects19.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(20) .box {
    background: url('./assets/images/projects-images/projects20.jpg') center no-repeat;
    background-size: cover;
  }

  .projects .source:nth-child(21) .box {
    background: url('./assets/images/projects-images/projects21.jpg') center no-repeat;
    background-size: cover;
  }
}









.skeleton {
  position: relative;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}